<h2 class=" text-center text-success  m-5 p-3">You logged in as {{role.role}} <i class="fas fa-check-circle"></i></h2>
<a class="d-flex justify-content-center" href="/user/list"><button class="btn btn-primary">continue to the list</button></a>